<div class="row">
    <div class="col-md-6">
      <div *ngIf="this.user" class="well well-sm">
<h4>User Detail</h4>

<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="user.userName" />

<label>First Name</label>
<input type="text" class="form-control" [(ngModel)]="user.firstName" />
 
<label>Last Name</label>
<input type="text" class="form-control" [(ngModel)]="user.lastName" />

<label>Email</label>
<input type="text" class="form-control" [(ngModel)]="user.email" />
         
<label>Phone</label>
<input type="text" class="form-control" [(ngModel)]="user.phone" />

<label>Password</label>
<input type="text" class="form-control" [(ngModel)]="user.password" />

<br/>
<button class="btn btn-primary" (click)="save()">Save</button>
<button class="btn btn-default" (click)="cancel()">Cancel</button>
     </div>
   </div>
</div>